node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.*
!.env.example

# editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# task artifacts (не коммитим ТЗ и макеты из тестового)
*.pdf
/img/
/app.js

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
